{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="justify-content-center">
        <h1>Stock prediction using LSTM model</h1>
        <p >Write the name of the stock you want to search</p>
    </div>

    <div class="d-flex justify-content-center">
        <form action="" method="post">
            <select id="symbol" name="symbol">
                <option value="AAPL">AAPL (Apple Inc.)</option>
                <option value="MSFT">MSFT (Microsoft Corporation)</option>
                <option value="AMZN">AMZN (Amazon.com Inc.)</option>
                <option value="TSLA">TSLA (Tesla Inc)</option>
                <option value="GOOGL">GOOGL (Alphabet Inc. Class A)</option>
                <option value="GOOG">GOOG (Alphabet Inc. Class C)</option>
                <option value="BRK.B">BRK.B (Berkshire Hathaway Inc. Class B)</option>
                <option value="UNH">UNH (UnitedHealth Group Incorporated)</option>
                <option value="JNJ">JNJ (Johnson & Johnson)</option>
                <option value="XOM">XOM (Exxon Mobil Corporation)</option>
                <option value="NVDA">NVDA (NVIDIA Corporation)</option>
                <option value="META">META (Meta Platforms Inc. Class A)</option>
                <option value="PG">PG (Procter & Gamble Company)</option>
                <option value="JPM">JPM (JPMorgan Chase & Co.)</option>
                <option value="V">V (Visa Inc. Class A)</option>
                <option value="CVX">CVX (Chevron Corporation)</option>
                <option value="HD">HD (Home Depot Inc.)</option>
                <option value="MA">MA (Mastercard Incorporated Class A)</option>
                <option value="PFE">PFE (Pfizer Inc.)</option>
                <option value="PFE">KO (Coca-Cola Company)</option>
            </select>
            <input type="submit" value="Search"/>
        </form>
    </div>

    {% if full_view %}
    <div>
        <h4><u>LSTM model (Sequential model)</u></h4>
        <p><b>Description:</b><br>Test: 20%<br>Train: 80%</p>
        <p><b>Root Mean Square Error (RMSE):</b> {{ rmse_value }}%</p>
        <p><b>Mean Square Error (MAPE):</b> {{ mape_value  }}%</p>
    </div>

    <h2>Predicting one day into the future [{{first_date}} - {{last_date}}]</h2>
    {% include "component/chart.html" %}
    <br>
    <h2>Predicting next days [{{first_date}} - {{last_date}}]</h2>
    {% include "component/chart2.html" %}



    <div>
        <h4><u>Momentum</u></h4>
    </div>

    <div>
        <h4><u>Fear and greed</u></h4>
    </div>

    {% endif %}
</div>


{% endblock %}
