{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="mt-4 justify-content-center">
        <h1>Stock prediction using neuronal networks</h1>
        <p>Write the name of the stock you want to search</p>
    </div>
    <form action="" method="post">
        <div class="d-flex flex-nowrap justify-content-center w-50">
            <select class="form-select" id="symbol" name="symbol">
                <option value="AAPL">AAPL (Apple Inc.)</option>
                <option value="MSFT">MSFT (Microsoft Corporation)</option>
                <option value="AMZN">AMZN (Amazon.com Inc.)</option>
                <option value="TSLA">TSLA (Tesla Inc)</option>
                <option value="GOOGL">GOOGL (Alphabet Inc. Class A)</option>
                <option value="GOOG">GOOG (Alphabet Inc. Class C)</option>
                <option value="BRK.B">BRK.B (Berkshire Hathaway Inc. Class B)</option>
                <option value="UNH">UNH (UnitedHealth Group Incorporated)</option>
                <option value="JNJ">JNJ (Johnson & Johnson)</option>
                <option value="XOM">XOM (Exxon Mobil Corporation)</option>
                <option value="NVDA">NVDA (NVIDIA Corporation)</option>
                <option value="META">META (Meta Platforms Inc. Class A)</option>
                <option value="PG">PG (Procter & Gamble Company)</option>
                <option value="JPM">JPM (JPMorgan Chase & Co.)</option>
                <option value="V">V (Visa Inc. Class A)</option>
                <option value="CVX">CVX (Chevron Corporation)</option>
                <option value="HD">HD (Home Depot Inc.)</option>
                <option value="MA">MA (Mastercard Incorporated Class A)</option>
                <option value="PFE">PFE (Pfizer Inc.)</option>
                <option value="PFE">KO (Coca-Cola Company)</option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary mx-2"/>
        </div>
    </form>
    <p>If you have any questions, please check our most <a href="/faq">frequent questions here</a></p>


    {% if full_view %}
    <section class="mt-5">
        <h2 class="">Symbol: {{ stock.symbol }}</h2>
        <div>
            <h4><u>LSTM model (Sequential model)</u></h4>
            <p><b>Description:</b><br>Test: 20%<br>Train: 80%</p>
        </div>
        <div>
            <h4>Results (LSTM)</h4>
            <p><b>Root Mean Square Error (RMSE):</b> {{ rmse_value_lstm }}%</p>
            <p><b>Mean Square Error (MAPE):</b> {{ mape_value_lstm }}%</p>
        </div>

        <h2>Predicting one day into the future (TRAIN vs TEST) [{{first_date}} - {{last_date}}]</h2>
        {% include "component/chart.html.j2" with stock_predicted_data=stock.predicted_data_lstm %}
        <p><b>Close stock price:</b> The closing price is the last price at which a stock trades during a regular
            trading session. It is the price at which a trader can close out an existing long or short position.</p>

        <br>
        <h2>Predicting next days [{{first_date}} - {{last_date}}]</h2>
        <p><b>Definition:</b> That is, prediction will predict future day based on previous data. </p>

        <div>
            <h4><u>GRU model (Sequential model)</u></h4>
            <p><b>Description:</b><br>Test: 20%<br>Train: 80%</p>
        </div>
        <div>
            <h4>Results (GRU)</h4>
            <p><b>Root Mean Square Error (RMSE):</b> {{ rmse_value_gru }}%</p>
            <p><b>Mean Square Error (MAPE):</b> {{ mape_value_gru }}%</p>
        </div>
        {% include "component/chart2.html.j2" with stock_predicted_data=stock.predicted_data_gru %}
    </section>
    {% endif %}

<!--    <section class="mt-5">-->
<!--        <h3>Extra information</h3>-->
<!--        <ul>-->
<!--            <li>LSTM is an RNN (recurrent neuronal network) which means is has incorporated memory to take any-->
<!--                information from previous inputs and outputs to influence future inputs and outputs-->
<!--            </li>-->
<!--            <li>Traditional networks assume that every input and output are independent of each other.</li>-->
<!--        </ul>-->
    </section>
</div>


{% endblock %}
