{% extends "base.html" %}

{% block body %}
<div>
    <section class="mt-5 mx-auto w-75">
        <div class="text-left row h-100">
            <div class="col-sm-12 my-auto">
                <h2>App to predict stock performance using machine learning algorithms</h2>
                <br>
                <p>
                    The goal of this work is to develop a web application tool to visualize different stock market
                    prediction algorithms using machine learning.</p>
                The idea is to obtain the minimum possible error
                compared to the actual closing price of the stock. This will be achieved by means of users
                interacting through the web, as well as allowing them to filter, search and analyze different
                prediction algorithm models and compare them according to its effectiveness based on different
                parameters.
                <br><br>
                <p>The data used will be extracted from different financial APIs. The project will be
                    developed in a Python environment using Django as the main framework. </p>
                <br>
                <h4>Author: Juan Llamazares Ruiz</h4>
                Contact: <a href="mailto:juan.llamazaresr@estudiante.uam.es" >juan.llamazaresr@estudiante.uam.es</a>
            </div>
        </div>

    </section>
</div>
{% endblock %}